USE [SE1808_SWP391_Group5]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[ProductID] [int] NULL,
	[SizeID] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [varchar](50) NULL,
	[Subject] [varchar](255) NULL,
	[Message] [text] NULL,
	[Status] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [varchar](50) NOT NULL,
	[CustomerName] [nvarchar](255) NULL,
	[Email] [varchar](100) NULL,
	[Avatar] [varchar](255) NULL,
	[TokenExpiry] [datetime] NULL,
	[Password] [varchar](255) NULL,
	[Phone] [varchar](15) NULL,
	[Gender] [varchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Role] [varchar](10) NULL,
	[Status] [varchar](10) NULL,
	[PasswordRecoveryToken] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [varchar](50) NULL,
	[ProductID] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [ntext] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__Feedback__6A4BEDF65D47FD6E] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [varchar](50) NULL,
	[Author] [nvarchar](255) NULL,
	[Title] [nvarchar](100) NULL,
	[Content] [ntext] NULL,
	[PublishedDate] [datetime] NULL,
	[FilePath] [varchar](255) NULL,
	[ImageURL] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [varchar](50) NULL,
	[StaffID] [varchar](50) NULL,
	[VoucherID] [int] NULL,
	[Status] [varchar](50) NULL,
	[PaymentMethod] [varchar](50) NULL,
	[TotalPrice] [decimal](10, 2) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NULL,
	[Description] [text] NULL,
	[StockQuantity] [int] NULL,
	[Brand] [varchar](50) NULL,
	[CategoryID] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[DiscountPercent] [decimal](10, 2) NULL,
	[ImageURL] [varchar](255) NULL,
	[CreateAt] [datetime] NULL,
	[UpdateAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSizes]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSizes](
	[SizeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Size] [varchar](25) NOT NULL,
	[StockQuantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reply]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reply](
	[ReplyID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [varchar](50) NULL,
	[StaffID] [varchar](50) NULL,
	[FeedbackID] [varchar](30) NULL,
	[CreatedAt] [datetime] NULL,
	[Comment] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sliders](
	[SliderID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[ImageURL] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SliderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specifications]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specifications](
	[SpecificationID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[Key] [nvarchar](255) NULL,
	[Value] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[StaffID] [varchar](50) NOT NULL,
	[StaffName] [nvarchar](255) NULL,
	[Email] [varchar](100) NULL,
	[Avatar] [varchar](255) NULL,
	[TokenExpiry] [datetime] NULL,
	[Password] [varchar](255) NULL,
	[Phone] [varchar](15) NULL,
	[Gender] [varchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Role] [varchar](10) NULL,
	[SupervisorID] [varchar](50) NULL,
	[Status] [varchar](10) NULL,
	[PasswordRecoveryToken] [varchar](255) NULL,
	[HireDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockImport]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockImport](
	[ImportID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [varchar](50) NULL,
	[Supplier] [nvarchar](255) NULL,
	[ImportDate] [datetime] NULL,
	[TotalCost] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockImportDetails]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockImportDetails](
	[ImportDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ImportID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[CostPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImportDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 2/25/2025 11:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [ntext] NULL,
	[DiscountPercentage] [decimal](5, 2) NULL,
	[MaxReducing] [decimal](10, 2) NULL,
	[Code] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[ExpiryDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[MinOrderValue] [decimal](10, 2) NULL,
	[MaxUsagePerUser] [int] NULL,
	[UsageCount] [int] NOT NULL,
	[ImageURL] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartID], [CustomerID], [CreatedAt], [ProductID], [SizeID], [Quantity]) VALUES (9, N'CU0001', CAST(N'2025-02-23T01:47:18.110' AS DateTime), 9, NULL, 1)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Racket', NULL)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Shoes', NULL)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Clothes', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [Email], [Avatar], [TokenExpiry], [Password], [Phone], [Gender], [Address], [Role], [Status], [PasswordRecoveryToken]) VALUES (N'CU0001', N'Nguyễn Hào', N'haontce180451@fpt.edu.vn', NULL, NULL, N'$2a$12$uXyYa9iJP0SK5QeaKrjEV.piLqQBy9H/HcLZXBRJb.QtaHdFxjgDO', N'0987654321', NULL, N'Cần thơ', N'USER', N'ACTIVE', NULL)
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [Email], [Avatar], [TokenExpiry], [Password], [Phone], [Gender], [Address], [Role], [Status], [PasswordRecoveryToken]) VALUES (N'CU0002', N'Nguy?n Hào', N'nguyenhao3209@gmail.com', NULL, NULL, N'$2a$12$bpKxa38IPnCjgJ095FaL9OZThaCE9C1B8km1wiebdKZaGPbCiNTFa', N'0987654321', NULL, N'Cần thơ', N'USER', N'ACTIVE', NULL)
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [Email], [Avatar], [TokenExpiry], [Password], [Phone], [Gender], [Address], [Role], [Status], [PasswordRecoveryToken]) VALUES (N'CU0003', N'Kim anh 1', N'kimanh3082@gmail.com', N'uploads/1024x1024-Wallpapers-020-1.jpg', NULL, N'$2a$12$z12hGAAv4Zw6.U/91e1bOeoDqAExe2f9s7vlkXp4mEjAkxarJca4K', N'0869381829', NULL, N'Đan phượng1', N'USER', N'ACTIVE', NULL)
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [CustomerID], [ProductID], [Rating], [Comment], [CreatedAt]) VALUES (1, NULL, 2, 5, N'ádasdas', CAST(N'2025-02-24T13:57:05.577' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [CustomerID], [ProductID], [Rating], [Comment], [CreatedAt]) VALUES (4, N'CU0001', 2, 5, N'Nguyễn Hao', CAST(N'2025-02-24T14:41:47.980' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Price], [Quantity]) VALUES (1, 1, 3, CAST(5.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Price], [Quantity]) VALUES (2, 2, 3, CAST(5.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Price], [Quantity]) VALUES (3, 3, 419, CAST(99.63 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [StaffID], [VoucherID], [Status], [PaymentMethod], [TotalPrice], [CreatedAt]) VALUES (1, N'CU0001', NULL, NULL, N'pending', N'VNPay', CAST(5.00 AS Decimal(10, 2)), CAST(N'2025-02-23T20:42:36.150' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [StaffID], [VoucherID], [Status], [PaymentMethod], [TotalPrice], [CreatedAt]) VALUES (2, N'CU0001', NULL, NULL, N'pending', N'VNPay', CAST(5.00 AS Decimal(10, 2)), CAST(N'2025-02-23T20:43:29.867' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [StaffID], [VoucherID], [Status], [PaymentMethod], [TotalPrice], [CreatedAt]) VALUES (3, N'CU0001', NULL, NULL, N'COMPLETED', N'VNPay', CAST(117.97 AS Decimal(10, 2)), CAST(N'2025-02-23T23:22:55.040' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [StockQuantity], [Brand], [CategoryID], [Price], [DiscountPercent], [ImageURL], [CreateAt], [UpdateAt]) VALUES (2, N'Lining Wristband', N'Lining wristband for badminton support.', 88, N'Lining', 5, CAST(5.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), N'bang-co-tay-lining-ldes194-1-120.000_1698785245.webp', CAST(N'2025-02-12T20:25:07.293' AS DateTime), NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [StockQuantity], [Brand], [CategoryID], [Price], [DiscountPercent], [ImageURL], [CreateAt], [UpdateAt]) VALUES (3, N'Lining Wristband', N'Lining wristband for badminton support.', 98, N'Lining', 5, CAST(5.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'bang-co-tay-lining-ldes194-2-120.000_1715569387.webp', CAST(N'2025-02-12T20:25:07.293' AS DateTime), NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [StockQuantity], [Brand], [CategoryID], [Price], [DiscountPercent], [ImageURL], [CreateAt], [UpdateAt]) VALUES (4, N'Lining Knee Support', N'Lining knee support for badminton.', 99, N'Lining', 5, CAST(5.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'bang-goi-lining-aqah164-1-120.000_1697481283.webp', CAST(N'2025-02-12T20:25:07.293' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSizes] ON 

INSERT [dbo].[ProductSizes] ([SizeID], [ProductID], [Size], [StockQuantity]) VALUES (1, 500, N'36', 10)
INSERT [dbo].[ProductSizes] ([SizeID], [ProductID], [Size], [StockQuantity]) VALUES (2, 500, N'37', 15)
INSERT [dbo].[ProductSizes] ([SizeID], [ProductID], [Size], [StockQuantity]) VALUES (3, 500, N'38', 12)
GO
SET IDENTITY_INSERT [dbo].[ProductSizes] OFF
GO
SET IDENTITY_INSERT [dbo].[Sliders] ON 

INSERT [dbo].[Sliders] ([SliderID], [ProductID], [ImageURL]) VALUES (1, 528, N'1000z-launch-website-banner_1695177885.webp')
INSERT [dbo].[Sliders] ([SliderID], [ProductID], [ImageURL]) VALUES (2, 529, N'65z3ltd-launch-website_1695177820.webp')
INSERT [dbo].[Sliders] ([SliderID], [ProductID], [ImageURL]) VALUES (3, 530, N'thiet-ke-chua-co-ten-12_1727137763.webp')
SET IDENTITY_INSERT [dbo].[Sliders] OFF
GO
SET IDENTITY_INSERT [dbo].[Specifications] ON 

INSERT [dbo].[Specifications] ([SpecificationID], [ProductID], [Key], [Value]) VALUES (1, 143, N'Meterial', N'Polyester')
INSERT [dbo].[Specifications] ([SpecificationID], [ProductID], [Key], [Value]) VALUES (2, 143, N'Capacity', N'40')
INSERT [dbo].[Specifications] ([SpecificationID], [ProductID], [Key], [Value]) VALUES (3, 144, N'Meterial', N'Polyester')
GO
SET IDENTITY_INSERT [dbo].[Specifications] OFF
GO
INSERT [dbo].[Staffs] ([StaffID], [StaffName], [Email], [Avatar], [TokenExpiry], [Password], [Phone], [Gender], [Address], [Role], [SupervisorID], [Status], [PasswordRecoveryToken], [HireDate]) VALUES (N'ST0001', N'Nguyễn Thanh Hào', N'nguyenhao6822@gmail.com', NULL, NULL, N'$2a$12$uXyYa9iJP0SK5QeaKrjEV.piLqQBy9H/HcLZXBRJb.QtaHdFxjgDO', N'0962966732', N'Male', N'Cần Thơ', N'ADMIN', NULL, N'ACTIVE', NULL, CAST(N'2025-02-24T09:13:09.783' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[StockImport] ON 

INSERT [dbo].[StockImport] ([ImportID], [StaffID], [Supplier], [ImportDate], [TotalCost]) VALUES (1, N'ST0001', N'CTTNHH 1 thành viên', CAST(N'2025-02-24T00:00:00.000' AS DateTime), CAST(500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[StockImport] OFF
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF__Feedback__Create__440B1D61]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [PublishedDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Reply] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Staffs] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[StockImport] ADD  DEFAULT (getdate()) FOR [ImportDate]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT (getdate()) FOR [ExpiryDate]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [UsageCount]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart.CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart.CustomerID]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart.ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart.ProductID]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart.SizeID] FOREIGN KEY([SizeID])
REFERENCES [dbo].[ProductSizes] ([SizeID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart.SizeID]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback.CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback.CustomerID]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Products]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News.CustomerID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News.CustomerID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails.OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails.OrderID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails.ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails.ProductID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders.CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders.CustomerID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders.StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders.StaffID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders.VoucherID] FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Vouchers] ([VoucherID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders.VoucherID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products.CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products.CategoryID]
GO
ALTER TABLE [dbo].[ProductSizes]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD  CONSTRAINT [FK_Reply.CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Reply] CHECK CONSTRAINT [FK_Reply.CustomerID]
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD  CONSTRAINT [FK_Reply.StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[Reply] CHECK CONSTRAINT [FK_Reply.StaffID]
GO
ALTER TABLE [dbo].[Sliders]  WITH CHECK ADD  CONSTRAINT [FK_Sliders.ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Sliders] CHECK CONSTRAINT [FK_Sliders.ProductID]
GO
ALTER TABLE [dbo].[Specifications]  WITH CHECK ADD  CONSTRAINT [FK_Specifications.ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Specifications] CHECK CONSTRAINT [FK_Specifications.ProductID]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_Staffs.SupervisorID] FOREIGN KEY([SupervisorID])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_Staffs.SupervisorID]
GO
ALTER TABLE [dbo].[StockImport]  WITH CHECK ADD  CONSTRAINT [FK_StockImport.StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[StockImport] CHECK CONSTRAINT [FK_StockImport.StaffID]
GO
ALTER TABLE [dbo].[StockImportDetails]  WITH CHECK ADD  CONSTRAINT [FK_StockImportDetails.ImportID] FOREIGN KEY([ImportID])
REFERENCES [dbo].[StockImport] ([ImportID])
GO
ALTER TABLE [dbo].[StockImportDetails] CHECK CONSTRAINT [FK_StockImportDetails.ImportID]
GO
ALTER TABLE [dbo].[StockImportDetails]  WITH CHECK ADD  CONSTRAINT [FK_StockImportDetails.ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[StockImportDetails] CHECK CONSTRAINT [FK_StockImportDetails.ProductID]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD CHECK  (([Status]='ANSWERED' OR [Status]='PENDING'))
GO
