<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VoucherServlet</servlet-name>
        <servlet-class>Controller.VoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewVouchersServlet</servlet-name>
        <servlet-class>Controller.ViewVouchersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterFeedbackServlet</servlet-name>
        <servlet-class>Controller.FilterFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportStockServlet</servlet-name>
        <servlet-class>Controller.admin.ImportStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStockServlet</servlet-name>
        <servlet-class>Controller.admin.ViewStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewImportedServlet</servlet-name>
        <servlet-class>Controller.admin.ViewImportedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>Controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <servlet-class>Controller.ProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controller.AdminController</servlet-class>
     </servlet>
    <servlet>
        <servlet-name>CheckVoucherServlet</servlet-name>
        <servlet-class>Controller.CheckVoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>Controller.admin.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductToImport</servlet-name>
        <servlet-class>Controller.admin.SearchProductToImport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSizeServlet</servlet-name>
        <servlet-class>Controller.ProductSizeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveStockImportServlet</servlet-name>
        <servlet-class>Controller.admin.SaveStockImportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadExcelFileToImportServlet</servlet-name>
        <servlet-class>Controller.admin.ReadExcelFileToImportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockImportServlet</servlet-name>
        <servlet-class>Controller.admin.StockImportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStockProductsListServlet</servlet-name>
        <servlet-class>Controller.admin.ViewStockProductsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockPaginationServlet</servlet-name>
        <servlet-class>Controller.admin.StockPaginationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewImportedDetails</servlet-name>
        <servlet-class>Controller.admin.ViewImportedDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStockServlet</servlet-name>
        <servlet-class>Controller.admin.UpdateStockServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VoucherServlet</servlet-name>
        <url-pattern>/VoucherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewVouchersServlet</servlet-name>
        <url-pattern>/ViewVouchersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterFeedbackServlet</servlet-name>
        <url-pattern>/filter-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportStockServlet</servlet-name>
        <url-pattern>/importStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStockServlet</servlet-name>
        <url-pattern>/viewStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewImportedServlet</servlet-name>
        <url-pattern>/viewImported</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <url-pattern>/productDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewVouchersServlet</servlet-name>
        <url-pattern>/ViewVouchersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterFeedbackServlet</servlet-name>
        <url-pattern>/filter-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportStockServlet</servlet-name>
        <url-pattern>/importStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStockServlet</servlet-name>
        <url-pattern>/viewStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewImportedServlet</servlet-name>
        <url-pattern>/viewImported</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckVoucherServlet</servlet-name>
        <url-pattern>/CheckVoucherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductToImport</servlet-name>
        <url-pattern>/searchProductToImport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSizeServlet</servlet-name>
        <url-pattern>/productSize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveStockImportServlet</servlet-name>
        <url-pattern>/saveStockImport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadExcelFileToImportServlet</servlet-name>
        <url-pattern>/readExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockImportServlet</servlet-name>
        <url-pattern>/stockImport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStockProductsListServlet</servlet-name>
        <url-pattern>/viewStockProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockPaginationServlet</servlet-name>
        <url-pattern>/stockProductsPagination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewImportedDetails</servlet-name>
        <url-pattern>/viewImportedDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStockServlet</servlet-name>
        <url-pattern>/updateStock</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>